*{
    padding: 0;
    box-sizing: border-box;
}

.container {
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 30px 30px;
    
} 

.h-word {
    display: flex;
    align-items: center;
}

.i-word {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.t-word {
    display: flex;
    margin-left: 10px;
}

.two-number {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.two-number .box-row {
    display: flex;
}

.two-number .alone-end {
    align-self: flex-end;
}
.box {
    width: 50px;
    height: 50px;
    background-color: orange;
}